@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-dmmono: "DM Mono";
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #fff;
}

h1 {
  @apply md:text-5xl font-medium leading-none text-white text-3xl;
}

p,
a {
  @apply text-white uppercase font-dmmono font-medium leading-none inline-block;
}

.cname::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.15rem;
  background: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-out;
}

.cname:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
